<h1>Listing folders</h1>


<%= form_tag folders_path , :method => 'get'  do %>
    
    <%= text_field_tag(:q,params[:q]) %>
    <%= submit_tag("Submit", :name => nil) %>
    <% end %>




</div>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

