

<h1>New folder</h1>

<h2>Enter new file path and name</h2>

<%= form_tag :controller => "folders", :action => 'newf' , :method => 'get'  do %>
    
    <%= text_field_tag(:q,params[:q]) %>
    <%= submit_tag("Submit", :name => nil) %>
    <% end %>


</div>


<%= link_to 'Back', folders_path %>